@media (min-width: 375px) {
  /* content */
  .content {
    margin-top: 100px;
  }

  /* organic */

  .organic__content-fonts {
    margin: 15px 20px;
  }

  /* black card */

  .black-card h1 {
    padding: 0px 20px;
  }

  /* footer */

  .footer__store {
    margin-top: 43px;
  }

  .footer__store img {
    width: 43%;
    height: 88%;
  }
}
@media (min-width: 545px) {
  /* products */

  .products {
    justify-content: normal;
  }

  .products__content {
    width: 30%;
  }

  /* Featured Brands: */

  .featured-brands {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .featured-brands h1 {
    width: 100%;
    display: block;
  }

  /* footer */

  .footer {
    height: 333px;
  }

  .footer__card-1,
  .footer__card-2 {
    margin-top: 50px;
  }

  .footer__card-2 h3 {
    line-height: 2;
  }
}
@media (min-width: 768px) {
  /* content */
  .content {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .content__image img {
    width: 90%;
    height: auto;
    padding-top: 20px;
  }

  .content__area {
    text-align: initial;
  }
  .content__area .background {
    display: block;
    width: 100%;
  }
  .content__area-image {
    margin: 15px;
  }

  .content__area-title {
    font-weight: bold;
    text-transform: capitalize;
  }

  .content__area-title--h3 {
    margin: 0px 20px;
  }

  .content__area-title--h1 {
    margin: 20px;
    padding-right: 85px;
  }

  .content__area-tex {
    margin: 0px 42px 20px 20px;
  }

  .area__button {
    margin: 15px;
  }
  /* card */
  .card {
    flex-direction: row;
    gap: 15px;
    margin-top: 45px;
    height: 293px;
    flex-wrap: wrap;
  }

  .card__item {
    width: 45%;
    height: 94px;
    padding: 17px 0px 64px 100px;
  }

  .card__item i {
    top: 15px;
    left: 53px;
    font-size: x-large;
  }

  /* bottom fish */

  .bottom-fish__resim {
    width: 10%;
  }

  /* products */

  .products {
    justify-content: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 30px;
  }

  /* organic */

  .organic__image img {
    width: 11%;
  }

  .organic__content {
    text-align: inherit;
  }

  .organic__buttons {
    margin: 54px 24px;
  }

  /* black card */
  .black-card {
    height: 140px;
  }

  .black-card h1 {
    font-size: 30px;
    padding: 0px;
    margin-bottom: 16px;
  }

  /* customers reviews*/

  .customers-reviews img {
    width: 10%;
  }

  /* employees */
  .employees {
    flex-direction: row;
    align-items: flex-end;
  }

  .employees__card {
    margin: 0px 20px;
    height: 293px;
  }

  .employees__card-middle {
    height: 354px;
  }

  .employees__card-middle h3 {
    font-size: large;
    padding: 0px 16px;
  }

  /* Featured Brands: */

  .featured-brands img {
    margin-left: 0px;
    width: 19%;
    height: 100px;
  }

  .featured-brands h1 {
    width: 84px;
    display: inline;
    margin: 11px 0px 0px 0px;
    font-size: 24px;
  }

  /* footer */

  .footer {
    height: 333px;
  }

  .footer__card-2 {
    position: relative;
  }

  .footer__card-1 h3 {
    width: 80%;
  }

  .footer__store {
    gap: 15px;
    width: 44%;
    height: auto;
    z-index: 7;
    position: absolute;
    right: 20px;
    top: -211px;
  }

  /* about */

  .about p {
    margin: 37px 30px;
    text-align: inherit;
  }

  .about__icons {
    position: absolute;
    top: 24px;
  }
}
@media (min-width: 1024px) {
  .navbar__logo {
    width: 155px;
    height: 72px;
  }

  .navbar__basket {
    display: block !important;
    width: 44px;
    top: 29px;
    right: 68px;
  }

  .menu__label {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav__list {
    display: flex;
    width: 610px;
    margin-top: 0px;
    position: absolute;
    right: 67px;
    top: 35px;
  }

  .nav__list-element {
    display: flex;
    border: 0px solid #eaeaea;
    padding: 0px;
  }

  /* content */

  .content__image {
    padding: 0px;
  }

  .content__image img {
    padding: 50px 72px 50px 20px;
  }

  .content__area {
    margin-left: -70px;
  }

  .content__area-image {
    width: 16%;
    height: auto;
  }

  .content__area-title--h3 {
    font-size: 24px;
  }

  .content__area-title--h1 {
    font-size: 55px;
  }

  .content__area-tex {
    font-size: larger;
  }
  /* card */

  .card__item {
    margin: 10px 5px;
  }

  /* bottom fish */

  .bottom-fish__header {
    font-size: 45px;
  }

  /* products */

  .products {
    flex-wrap: nowrap;
  }

  .products__content {
    width: 24%;
  }

  /* black card */

  .black-card h1 {
    font-size: 45px;
    text-align: initial;
  }
}
@media (min-width: 1440px) {
  .navbar__logo {
    left: 121px;
  }

  .nav__list {
    margin-top: 0px;
    right: 126px;
  }

  /* content */
  .content__area-image {
    width: 13%;
    margin: 39px 15px 15px 15px;
  }
  .area__button .icon {
    margin: 15px;
  }

  .content__area-title {
    font-weight: bold;
    text-transform: capitalize;
  }
  /* card */
  .card {
    width: 100%;
    height: 191px;
  }

  .card__item {
    width: 20%;
  }

  /* products */

  .products {
    gap: 64px;
  }

  .products:last-child {
    justify-content: normal;
  }

  .products__content {
    width: 21%;
    margin: 0px;
  }

  /* organic */

  .organic {
    flex-direction: row;
  }

  .organic__content {
    width: 30%;
    height: 384px;
    margin: 0px 10px;
    padding: 10px 20px;
  }

  .organic__content h1,
  h3,
  button {
    position: relative;
    z-index: 7;
  }

  .organic__content.card-1 img {
    width: 281px;
    height: auto;
  }

  .organic__content h1 {
    font-size: 35px;
  }

  .organic__content-fonts {
    font-size: larger;
  }

  .organic__buttons {
    margin: 31px 24px;
  }

  /* black card */

  .black-card h1 {
    padding: 29px 0px 0px 81px;
  }

  .black-card button {
    right: 302px;
  }

  /* employees */

  .employees {
    justify-content: center;
    margin: 76px 0px;
  }

  .employees__card {
    height: 302px;
  }

  .employees__card-middle {
    width: 23%;
    height: 407px;
  }

  .employees__card-middle h1 {
    font-size: 40px;
  }

  .employees__card-middle button {
    margin: 80px auto;
  }

  /* Featured Brands: */

  .featured-brands {
    justify-content: center;
  }

  .featured-brands img {
    width: 16%;
  }

  .featured-brands h1 {
    width: 264px;
    display: inline-block;
    margin: 33px 0px 0px 0px;
    font-size: 30px;
  }

  /* footer */

  .footer__store {
    top: -95px;
    right: -57px;
  }

  .footer__card-2 {
    text-align: right;
  }

  .footer__card-1,
  .footer__card-2 {
    padding: 101px 30px;
    top: -173px;
  }

  .footer__card-1 h3 {
    line-height: 1.5;
  }

  .footer__card-2 h3 {
    line-height: 1.5;
  }

  .footer__store {
    gap: 17px;
    margin: 59px;
  }

  .footer__store img {
    width: 30%;
    height: auto;
    border: solid #fff 1px;
  }

  /* about */

  .about p {
    margin: 37px 128px;
  }

  .about__icons {
    right: 91px;
  }
}
